html {
  font-size: 62.5%;
}

body {
  font-family: Roobert PRO, "Rubik", "sans-serif";
  font-weight: 500;
}

.dark {
  background: #0c0c0d;
  color: #fff;
}

.light {
  background: #fff;
  color: #18181b;
}

.container {
  padding: 0.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
}
