@import "@/assets/scss/config/variables.scss";
@import "@/assets/scss/config/mixin.scss";

html {
  font-size: 62.5%;
}

body {
  font-family: Roobert PRO, "Rubik", "sans-serif";
  font-weight: 500;
}

.dark {
  background: $black;
  color: $light-gray;

  li {
    color: $light-gray !important;

    &:hover {
      color: white !important;
      background-color: $dark-gray !important;
    }
  }
}

.container {
  padding: 0.5rem 2rem;
  margin-left: auto;
  margin-right: auto;

  @include mq("tablet") {
    padding: 1rem 4rem;
  }

  @include mq("large") {
    padding: 1rem 8rem;
  }
}
